#contact-form {

	margin: 20px;
	padding: 20px;
	border:1px solid gray;
	
	background: white;
	box-shadow: #223 0 0 2vw;
	
}

form {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.form-fields {
	
	flex-direction: column;
	margin: 30px;
}

label {
	font-size: 15px;
	font-weight: bolder;
	
	align-items: center;
	justify-content: space-between;
}

label span {

	margin-right: 10px;
	display:block;
}

input {
	width: 180px;
	font-size: 14px;
	padding: 0;
	margin: 0;
	appearance: none;
}


.btn-img-add{
	background-position: 0px 111px;
}

label{
	border-bottom:1px solid gray;
}