.contact-list-app {
	margin: 0 auto;
	max-width: 80%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.btn-img {
	margin: 10px;
    height: 28px;
    width: 27px;
    background-size: 800px;
    
    display: block;
}